@import '../../../Scss/Helper/variable';
@import '../../../Scss/Helper/mixin';
.tong {
    border: dotted!important;
    margin-left: 150px;
    width: 100%;
    // @include MediaQuery(large) {
    //     margin-left: 150px;
    //     width: 80%;
    // }
    // @include MediaQuery(medium) {
    //     width: 60%;
    // }
}