@import '../../Scss/Helper/variable';
.content {
    width: 100%;
    text-align: left;
    i {
        font-size: $fs-2 + 20;
        color: mediumseagreen;
        padding-top: $pd-2 + 20;
    }
    .getMid {
        padding: $pd-2 +20 0px;
        text-align: right;
        line-height: 40px;
        .itemMid {
            text-align: center;
            padding-left: $pd-2 + 20;
            h2 {
                font-size: $fs-3 + 1;
            }
            button {
                text-align: center;
                padding: $pd-1 $pd-2 +5;
            }
        }
    }
}