.home {
    font-size: 20px;
    color: #ff1744;
    background-color: #fff;
    text-align: center;
    .home__name {
        background-color: azure;
        padding: 70px;
        // h3 {
        //     font-size: 40px;
        // }
    }
    .home__p {
        p {
            font-size: 20px;
            // line-height: 15px;
            padding: 15px;
            // padding-top: 20px;
            color: #d50000;
        }
    }
    .home_right {
        background-color: rgb(52, 58, 64);
        padding: 20px 50px;
    }
    .home_right_span {
        span {
            margin: 20px;
            padding: 150px;
            font-weight: bold;
            color: white;
        }
    }
    .owl-nav {
        background-color: yellow;
        button {
            background-color: yellow;
            border-radius: 50%;
        }
    }
    .owl-stage {
        width: 100%;
    }
    .navClass {
        background-color: red;
    }
}