    .contentSay {
        background-color: white;
        width: 100%;
        .item {
            box-shadow: 0 0 1px 1px rgba(20, 23, 28, .1), 0 3px 1px 0 rgba(20, 23, 28, .1);
            padding-left: 30px;
            padding-top: 30px;
            margin-top: 30px;
            background-color: #fff;
            img {
                border-radius: 50%;
                height: 70px;
                width: 70px;
            }
            p {
                padding: 20px 0;
            }
            span {
                font-weight: normal;
                font-size: 20px;
            }
        }
        .classThuongHieu {
            text-align: center;
            padding-top: 40px;
            img {
                padding: 0;
            }
        }
        .classBecome {
            text-align: center;
            padding-top: 40px;
            padding-bottom: 30px;
            h3 {
                font-size: 25px;
            }
            p {
                font-size: 18px;
            }
        }
    }