    @import '../../Scss/Helper/variable';
    @import '../../Scss/Helper/mixin';
    .contentSay {
        background-color: $color-white-0;
        width: 100%;
        .item {
            box-shadow: 0 0 1px 1px rgba(20, 23, 28, .1), 0 3px 1px 0 rgba(20, 23, 28, .1);
            padding-left: $pd-2 +10;
            padding-top: $pd-2 +10;
            margin-top: $pd-2 +10;
            background-color: $color-white-0;
            width: 300px;
            height: 10%;
            @include MediaQuery(small) {
                display: block;
            }
            img {
                border-radius: 50%;
                height: 70px;
                width: 70px;
            }
            p {
                padding: $pd-2 0;
            }
            span {
                font-weight: normal;
                font-size: $fs-3 +1;
            }
        }
        .item1 {
            box-shadow: 0 0 1px 1px rgba(20, 23, 28, .1), 0 3px 1px 0 rgba(20, 23, 28, .1);
            padding-left: $pd-2 +10;
            padding-top: $pd-2 +10;
            margin-top: $pd-2 +10;
            background-color: $color-white-0;
            width: 300px;
            height: 10%;
            img {
                border-radius: 50%;
                height: 70px;
                width: 70px;
            }
            p {
                padding: $pd-2 0;
            }
            span {
                font-weight: normal;
                font-size: $fs-3 +1;
            }
        }
        .item2 {
            box-shadow: 0 0 1px 1px rgba(20, 23, 28, .1), 0 3px 1px 0 rgba(20, 23, 28, .1);
            padding-left: $pd-2 +10;
            padding-top: $pd-2 +10;
            margin-top: $pd-2 +10;
            background-color: $color-white-0;
            width: 300px;
            height: 10%;
            img {
                border-radius: 50%;
                height: 70px;
                width: 70px;
            }
            p {
                padding: $pd-2 0;
            }
            span {
                font-weight: normal;
                font-size: $fs-3 +1;
            }
        }
        .classThuongHieu {
            text-align: center;
            padding-top: $pd-2 +20;
            img {
                padding: 0;
            }
        }
        .classBecome {
            text-align: center;
            padding-top: $pd-2 +20;
            padding-bottom: $pd-2 +10;
            h3 {
                font-size: $fs-3 +1;
            }
            p {
                font-size: $fs-0 +3;
            }
        }
    }