@import '../../Scss/Helper/variable';
.categoryItem {
    font-size: $fs-0;
    &__dropDown {
         :hover {
            background-color: rgb(83, 86, 90);
            color: $color-white-0;
        }
         :focus {
            background-color: rgb(58, 61, 65);
            color: $color-white-0;
        }
    }
}