.Bottom {
    font-size: 20px;
    background: linear-gradient(-45deg, #EC5252 0%, #6E1A52 100%);
    color: white;
    display: flex;
    // animation: Bottom 0.5s ease-in-out infinite;
    ;
    i {
        font-size: 40px;
    }
    span {
        font-size: 20px;
        font-weight: bold;
    }
    p {
        font-size: 15px;
    }
}

// @keyframes Bottom {
//     0% {
//         transform: translateX(0) rotate(0deg);
//         background-color: #333;
//     }
//     20% {
//         transform: translateX(-10px) rotate(-2deg);
//     }
//     40% {
//         transform: translateX(10px) rotate(2deg);
//     }
//     50% {
//         background-color: #e22;
//     }
//     60% {
//         transform: translateX(-10px) rotate(-2deg);
//     }
//     80% {
//         transform: translateX(10px) rotate(2deg);
//     }
//     100% {
//         transform: translateY(0) rotate(0deg);
//         background-color: #333;
//     }
// }