@import '../../Scss/Helper/variable';
.tong {
    position: relative;
    background-color: $color-black-0;
    height: 500px;
    img {
        width: 100%;
    }
    .con {
        position: absolute;
        color: $color-white-0;
        font-size: $fs-2 +10;
        top: 150px;
        left: 150px;
        button {
            color: red;
            background-color: white;
        }
    }
}

// @keyframes con {
//     from {
//         opacity: 0;
//     }
//     to {
//         opacity: 1;
//     }
// }