.courseItem {
    text-align: left;
    margin-bottom: 20px;
    padding: 0;
    // box-shadow: 0 0 1px 1px rgba(20, 23, 28, .1), 0 3px 1px 0 rgba(20, 23, 28, .1);
    margin-top: 30px;
    height: 350px;
    width: 100%;
    box-shadow: 0 0 1px 1px rgba(20, 23, 28, .1), 0 3px 1px 0 rgba(20, 23, 28, .1);
    ;
    .card {
        height: 200px;
        width: 300px;
        img {
            width: 100% !important;
            height: 100%;
            margin: 0;
            padding: 0;
        }
        p {
            font-size: 25px;
            font-weight: 300;
        }
        span {
            font-size: 16px;
            display: block;
        }
        h5 {
            font-size: 12px;
        }
    }
}