.courseItem {
    text-align: left;
    margin: 0px 0;
    padding: 0px 0;
    margin-bottom: 30px;
    // box-shadow: 0 0 1px 1px rgba(20, 23, 28, .1), 0 3px 1px 0 rgba(20, 23, 28, .1);
    height: 350px;
    width: 100%;
    box-shadow: 0 0 1px 1px rgba(20, 23, 28, .1), 0 3px 1px 0 rgba(20, 23, 28, .1);
    background-color: white;
    color: black;
    text-decoration: none !important;
    border-radius: 5%;
    a {
        text-decoration: none !important;
        .card {
            height: 200px;
            width: 255px;
            padding: 0;
            color: black;
            text-decoration: none !important;
            img {
                width: 100%;
                border-top-right-radius: 5%;
                border-top-left-radius: 5%;
                height: 100%;
                margin: 0;
                padding: 0;
                text-decoration: none !important;
            }
            p {
                text-align: center;
                font-size: 20px;
                font-weight: bold;
                text-decoration: none !important;
            }
            .span1 {
                font-size: 15px;
                margin-right: 5px;
                text-decoration: none !important;
                text-decoration: line-through !important;
            }
            h5 {
                font-size: 15px;
            }
            button {
                text-align: center;
                float: right;
                background-color: lightgreen;
            }
            h4 {
                font-size: 15px;
                font-weight: normal;
            }
            .star {
                color: #f4c150;
                font-size: 16px;
                span {
                    margin-left: 5px;
                    color: #686f7a;
                }
            }
        }
        .classTacGia {
            font-size: 15px;
            font-weight: normal;
            margin-top: 10px;
        }
    }
}

.popup {
    width: 300px;
    height: auto;
    .PopupCard {
        color: black;
        .PopupNgayTao {
            font-size: 15px;
            margin-top: 10px;
        }
        h2 {
            font-size: 14px;
            font-weight: normal;
        }
        h4 {
            font-size: 20px;
            font-weight: normal;
        }
        h5 {
            font-size: 15px;
            font-weight: normal;
        }
        button {
            margin: 5px;
        }
    }
}