@import '../../Scss/Helper/variable';
.tong {
    color: $color-black-0;
    h4 {
        margin-left: $mg-2 + 75;
        color: $color-red-0;
    }
    .classangular {
        padding-top: $pd-2 +30;
        padding-bottom: $pd-2 + 30;
        .angulartext {
            padding-left: $pd-2 + 30;
            padding-top: $pd-2 + 80;
        }
    }
}