.tong {
    color: black;
    h4 {
        margin-left: 100px;
        color: red;
    }
    .classangular {
        padding-top: 50px;
        padding-bottom: 50px;
        .angulartext {
            padding-left: 50px;
        }
    }
}