@import '../../Scss/Helper/mixin';
@import '../../Scss/Helper/variable';
.headerDetail {
    background-color: gainsboro;
    height: 40px;
}

.landingPage {
    background: linear-gradient(#29303B, #29303B, #29303B);
    color: $color-white-0;
    height: 250px;
    .landingPage_gift,
    .landingPage_head {
        i {
            font-size: $fs-2 + 15;
            padding-top: $pd-1 + 5;
            &:hover {
                color: yellowgreen;
            }
        }
        span {
            margin-bottom: $mg-2 - 5;
        }
    }
    .classstar {
        i {
            color: yellow;
            margin: 0 $mg-0;
        }
    }
}

.right_course {
    font-size: $fs-2 + 20;
    position: relative;
    width: 350px;
    height: 650px;
    top: -150px;
    background-color: $color-white-0;
    box-shadow: 0 0 1px 1px rgba(20, 23, 28, .1), 0 3px 1px 0 rgba(20, 23, 28, .1);
    img {
        width: 95%;
        height: 250px;
    }
    .cartRightItem {
        text-align: center;
        h2 {
            font-size: $fs-2 + 20;
            padding-top: $pd-2;
            text-align: left !important;
            padding-left: $pd-2 + 10;
        }
        p {
            font-size: $fs-0;
        }
        button {
            @include btn_AddCard($color-white-0, $fs-1 +5, $pd-2, $pd-2 + 85, $color-red-0, $mg-1);
        }
    }
}

.righttext {
    padding-top: $pd-1 + 5;
    font-size: $fs-2 - 5;
    line-height: 10px;
    padding-left: $pd-1;
    h5 {
        font-size: $fs-1 + 5;
        font-weight: 300;
    }
    p {
        font-weight: 300;
    }
}