@import '../../../Scss/Helper/variable';
@import '../../../Scss/Helper/mixin';
.courseItem {
    text-align: left;
    margin-bottom: 30px;
    // box-shadow: 0 0 1px 1px rgba(20, 23, 28, .1), 0 3px 1px 0 rgba(20, 23, 28, .1);
    height: 350px;
    width: 100%;
    box-shadow: 0 0 1px 1px rgba(20, 23, 28, .1), 0 3px 1px 0 rgba(20, 23, 28, .1);
    background-color: $color-white-0;
    color: $color-black-0;
    text-decoration: none !important;
    border-radius: 10%;
    div {
        text-decoration: none !important;
        .card {
            height: 200px;
            width: 255px;
            color: $color-black-0;
            text-decoration: none !important;
            position: relative;
            .sale {
                text-align: center !important;
                border-radius: 50%;
                width: 55px;
                height: 55px;
                position: absolute;
                top: -0px;
                right: -0px;
                background-color: rgba($color: firebrick, $alpha: 1.2);
                h2 {
                    font-size: 25px;
                    text-align: center;
                    line-height: 50px;
                    color: white;
                    font-weight: 500 !important;
                    opacity: 1 !important;
                }
            }
            img {
                width: 100%;
                border-top-right-radius: 13%;
                border-top-left-radius: 10%;
                height: 100%;
                margin: 0;
                padding: 0;
                text-decoration: none !important;
            }
            p {
                text-align: center;
                font-size: $fs-2;
                font-weight: $fw-bold;
                text-decoration: none !important;
            }
            .span1 {
                font-size: $fs-0;
                margin-right: $mg-0 +3;
                text-decoration: none !important;
                text-decoration: line-through !important;
            }
            h5 {
                font-size: $fs-0;
            }
            button {
                text-align: center;
                float: right;
                background-color: lightgreen;
            }
            h4 {
                font-size: $fs-0;
                font-weight: $fw-normal;
            }
            .star {
                color: $color-yellow;
                font-size: $fs-0 + 1;
                span {
                    margin-left: $mg-0 + 3;
                    color: $color-black-light;
                }
            }
        }
        .classTacGia {
            font-size: $fs-0;
            font-weight: $fw-normal;
            margin-top: $mg-1;
        }
    }
}

.popup {
    width: 300px;
    height: auto;
    .PopupCard {
        color: $color-black-0;
        .PopupNgayTao {
            font-size: $fs-0;
            margin-top: $mg-1;
        }
        h2 {
            font-size: $fs-0 - 1;
            font-weight: $fw-normal;
        }
        h4 {
            font-size: $fs-2;
            font-weight: $fw-normal;
        }
        h5 {
            font-size: $fs-0;
            font-weight: $fw-normal;
        }
        button {
            @include btn_AddCard($color-white-0, $fs-2 -2, $pd-1, $pd-2+3, $color-red-0, $mg-1);
        }
    }
}