@import '../../Scss/Helper/variable';
@import '../../Scss/Helper/mixin';
.inputTong {
    padding-top: 25px;
    text-align: right;
    .classinput {
        width: 600px;
        margin-left: 50%;
        @include MediaQuery(extra-large) {
            margin-left: 40%;
            width: 480px;
        }
        @include MediaQuery(large) {
            margin-left: 30%;
            width: 400px;
        }
        @include MediaQuery(medium) {
            margin-left: 20%;
            width: 300px;
        }
        @include MediaQuery(small) {
            margin-left: 8%;
            width: 250px;
        }
        input {
            padding: 25px 20px;
            border-radius: 25px;
            letter-spacing: 3px;
            box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
            font-weight: $fw-bold;
        }
    }
}