        @import '../../Scss/Helper/variable';
        .tong {
            background-color: #282c35;
            position: absolute;
            width: 100%;
            height: 100%;
            .loginStyle {
                position: relative;
                .test {
                    box-shadow: 0 0 1px 3px rgba(20, 23, 28, .1), 0 3px 3000px 2000px rgba(20, 23, 28, .1);
                    width: 400px;
                    margin-left: 33%;
                    margin-top: $mg-2 +15;
                    padding: $pd-2 +30 0;
                    background-color: $color-white-0;
                    button {
                        padding-top: $pd-2 -10;
                        font-size: $fs-2;
                        letter-spacing: 2px;
                        background: rgb(5, 76, 130);
                        color: white;
                        font-weight: bold;
                    }
                    div {
                        // h3 {
                        //     padding-top: 20px;
                        //     text-align: center
                        // }
                        div {
                            h2 {
                                padding-top: $fs-2 +20;
                            }
                        }
                    }
                }
            }
        }