@import '../../Scss/Helper/variable';
.signupStyle {
    div {
        h3 {
            padding-top: $fs-2;
            text-align: center
        }
        p {
            padding-left: $pd-1;
        }
    }
}