@import '../../Scss/Helper/variable';
.categoryItem {
    font-size: $fs-2;
    text-align: center;
    padding: 0 $pd-0;
    padding-top: $pd-1 + 5;
    button {
        color: $color-black-light;
        background-color: $color-white-0;
        border: none;
        font-weight: $fw-bold;
        box-shadow: 0 0 1px 1px rgba(20, 23, 28, .1), 0 3px 1px 0 rgba(20, 23, 28, .1);
        margin: 0 $mg-1;
    }
     :hover {
        color: white;
        background-color: rgb(47, 105, 47);
        border: none;
    }
     :focus {
        color: $color-white-0;
        background-color: green;
        border: none;
    }
}